.analysis-graph {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.upper {
    display: flex;
}

.details-list {
    padding: 50px;
    margin-top: 50px;
}

.details-list-head, .details-list-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* align-items: center;
    justify-content: space-between; */
}