@import "./config.css";
@import "./components/jumbotron.css";
@import "./components/header.css";
@import "./components/analysis.css";
@import "./components/daolist.css";
@import "./details.css";

.main {
  display: flex;
  justify-content: center;
  /* overflow-y: hidden; */

}

.container {
  max-width: toRem(1440);
  width: 100%;
  position: relative;
}

